@model IEnumerable<ShoppingCart.Application.ViewModels.CartProductViewModel>

@{ 
    ViewData["Title"] = "Cart"; 
}

@foreach (var p in Model)
{
<div class="col-6">
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title">@p.product.Name</h5>
            <p class="card-text">@p.product.Price</p>
            <label asp-for=@p.Quantity class="contorl-label">Quantity</label>

            <form asp-action="UpdateQty" asp-controller="Cart">
                <input type="hidden" name="id" value="@p.product.Id" />
                <select name="quantity" class="form-control">
                
                @for(int i=1; i<=10; i++)
                {
                    <option value="@i">@i</option>
                }
                </select>
                </form>

            <a href="/Cart/DeleteFromCart?id=@p.Id" class="btn btn-danger">Delete</a>

            <a href="Cart/AddOrderDetails?id=@p.Id" class="btn btn-success">Checkout</a>

        </div>
    </div>
</div>}